/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
  --primary-color: #232883;
  --secondary-color: #FD2D5B;
  --primary-color-light: #4D50C6;
  --primary-color-dark: #151757;
  --secondary-color-light: #ff6485;
  --text-color: #ffffff;
  --text-color-light: #AEAFDC;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
  background-image:
    radial-gradient(
      circle at top left,
      var(--primary-color),
      #323689 72%,
      #C43C73 97%,
      var(--secondary-color)
    );
}

p, h2, h3, h4, h5, h6 {
  color: var(--text-color);
}